@import "./reset.css";

:root {
	--solid-heading: #42446e;
	--dark-content: #666;
	--solid-heading-dark-mode: #ccc;
	--light-content: #a7a7a7;
	--dark-mode: #191919;
	--button-text: #018c0f;
	--button-success: #d7ffe0;
    --font-family: "Poppins", sans-serif;
    --second-family: "DM Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1193px;
    margin: 0 auto;
}

/*--------header---------*/
.nav {
    margin-top: 40px;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 50px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-right: 50px;
}

.nav-list__link {
    transition: opacity 0.2s ease-in;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: var(--dark-content);
}

.nav-list__link:hover {
    opacity: 0.8;
}

.social-header {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.social-header .social__item {
    width: 30px;
    height: 30px;
}

/*--------about---------*/

.about-section {
    margin: 140px 0;
}

.about__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about__description {
    max-width: 635px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: var(--solid-heading);
}

.about__description span {
    background: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__image {
    background-image: url(./assets/img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 230px;
    width: 349px;
    height: 349px;
    position: relative;
}

.about__image::before {
    content: "";
    position: absolute;
    top: -12px;
    bottom: -12px;
    left: -12px;
    right: -12px;
    background: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
    border-radius: 230px;
    z-index: -1;
    -webkit-border-radius: 230px;
    -moz-border-radius: 230px;
    -ms-border-radius: 230px;
    -o-border-radius: 230px;
}

/*--------about---------*/

/*--------projects---------*/
.projects-section {
    margin-bottom: 100px;
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 54%;
    text-align: center;
    color: var(--solid-heading);
    margin-bottom: 50px;
}

.section__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 81%;
    text-align: center;
    color: var(--dark-content);
    margin-bottom: 50px;
}

.projects-cards__wrapper {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 20px;
}

.card__item {
    border-radius: 20px;
    width: 375px;
    height: 500px;
    box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card__img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 280px;
}


/*-----ФОТО ДЛЯ КАРТОЧЕК------*/

.kkvorobei {
    background: url(./assets/img/screencapture-kkvorobei-by.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.terel {
    background: url(./assets/img/screencapture-terel-by.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.barber {
    background: url(./assets/img/screencapture-barber.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----ФОТО ДЛЯ КАРТОЧЕК------*/



.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: 200px;
}

.card__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 93%;
    text-align: center;
    color: #000;
    margin: 0 0 17px 0;
}

.card__descr {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 144%;
    color: var(--dark-content);
    text-align: justify;
}

.card__btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #000;
    margin-top: 15px;
}

.card__btn span {
    text-decoration: underline;
    transition: opacity 0.2s ease-in;
}

.card__btn span:hover {
    opacity: 0.8;
}

/*--------projects---------*/

/*--------skills---------*/

.skills-icons__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 100px;
}

.skills-icon {
    width: 120px;
    height: 120px;
}

.html {
    background: url(./assets/svg/html.svg); 
    background-repeat:  no-repeat;
    background-size: contain;
}

.css {
    background: url(./assets/svg/css.svg); 
    background-repeat:  no-repeat;
    background-size: contain;
}

.js {
    background: url(./assets/svg/js.svg); 
    background-repeat:  no-repeat;
    background-size: contain;
}

.vscode {
    background: url(./assets/svg/vscode.svg); 
    background-repeat:  no-repeat;
    background-size: contain;
}

.git {
    background: url(./assets/svg/git.svg); 
    background-repeat:  no-repeat;
    background-size: contain;
}

.wp {
    background: url(./assets/svg/wp.svg); 
    background-repeat:  no-repeat;
    background-size: contain;
}

/*--------skills---------*/

/*--------footer---------*/
.footer {
    padding: 50px 0 50px 0;
    background-color: #000000;
    color: #ffff;
}

.footer__container {

}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p {
    margin-top: 10px;
}

@media screen and (max-width:1180px) {
    .projects-cards__wrapper {
        justify-content: space-evenly;
        row-gap: 30px;
    }
}